/* Base mobile styles */
.areaWrapper {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70vw; /* Ensure this is suitable for your mobile design */
  margin: auto; /* Center the wrapper on the page */
}

.cardsWrapper {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 5vw auto;
  width: auto; /* Use auto to adapt based on content until a max-width is necessary */
}

.title {
  backdrop-filter: blur(5px);
  background: transparent;
  color: var(--white);
  font-size: 3rem;
  margin: 3rem auto; /* Center the title */
  padding: 2rem;
  text-align: center;
  max-width: 80%; /* Limit width to enhance readability */
}

/* Medium screens (tablets) */
@media (min-width: 768px) {
  .areaWrapper, .cardsWrapper {

    width: 100%; /* Adjust width for tablets */
    max-width: 95vw; /* Prevent it from being too wide on large tablets */
  }
  .cardsWrapper {
    flex-direction: row;
    max-width: 70vw;
    gap: 3vw;
  }
}

/* Large screens (desktops) */
@media (min-width: 1024px) {
  .areaWrapper, .cardsWrapper {
    max-width: 80vw; /* More suitable width for desktops */
  }
  .cardsWrapper {
    align-self: center; /* Ensure cards are centered in their container */
  }
}

/* Extra large screens */
@media (min-width: 1440px) {
  
  .cardsWrapper {
    max-width: 60vw; /* Refine width for very large screens */
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
